.editor{
    width: calc(100% - 2px);
    display:flex;
    flex-direction: column;
    border:1px solid #d4dae1;
    border-radius: 10px;
}


.editor>.tab-bar{
  width:calc(100% - 12px);
  padding-left:10px;
  display:flex;
  flex-direction: row;
  border-bottom: 1px solid #d4dae1;
  height:40px;
}

.editor>.tab-bar>div{
  width:80px;
  height:40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  
}

.editor.write>.tab-bar>div.write,.editor.preview>.tab-bar>div.preview{
  height:41px;
  border:1px solid #d4dae1;
  border-top:0;
  border-radius: 10px 10px 0 0;
  border-bottom:0;
}


.editor .editor-input{
    resize: vertical;
    width: calc(100% - 42px);
    min-height: 200px;
    max-height: 600px;
    padding: 8px;
    border:3px solid #f3f3f3;
    overflow-y: auto;
    background:#f6f8fa;
    border-radius: 10px;
    margin:10px;
    display: none;
}

/* 选中编辑的时候，显示编辑框 */
.editor.write .editor-input{
  display: block;
}

.editor  .editor-input:focus{
    outline: none;
    border:3px solid rgb(27, 159, 247);
    background:#fff;
    
}

.editor  .editor-preview{
  width: calc(100% - 16px);
  min-height: 200px;
  max-height: 600px;
  padding: 8px;
  overflow-y: auto;
  display: none;
  border-radius: 10px;
}


/* 选中预览的时候，显示预览界面 */
.editor.preview .editor-preview{
  display: block;
}
